@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full font-sans;
}

p {
	@apply font-light;
}

section {
	@apply px-4 sm:px-8 py-4 sm:py-8 my-4 sm:my-8;
}

@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-VariableFont.woff2') format('woff2');
	font-display: swap;
}
