@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html {
	scroll-behavior: smooth;
}

html,
body {
	@apply h-full font-sans antialiased;
	color: rgb(30 41 59);
}

p {
	@apply font-light leading-relaxed;
}

section {
	@apply px-6 sm:px-10 lg:px-16 py-12 sm:py-16 lg:py-20;
}

@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-VariableFont.woff2') format('woff2');
	font-display: swap;
}
